<h1 class="text-3xl font-bold text-center mb-8">Directory</h1>

<div class="flex flex-col md:flex-row gap-6">
  <!-- Sidebar -->
  <aside class="w-full md:w-1/5 m-l-12">
    <%= render 'shared/sidebar' %>
  </aside>

  <!-- Main content -->
  <div class="members-grid grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-4 w-full md:w-4/5">
    <% @members.each do |member| %>
      <div class="member-card-directory bg-white rounded-lg p-6 shadow-lg transition-transform transform hover:translate-y-2 hover:shadow-xl text-center relative overflow-hidden">
        <%= link_to user_path(member) do %>
          <% if member.role.present? %>
            <% role_class = case member.role
                            when 'admin'
                              'bg-green-500'
                            when 'moderator'
                              'bg-yellow-500'
                            else
                              'bg-blue-500'
                            end %>
            <div class="member-role-badge absolute top-2 right-2 text-xs font-semibold uppercase py-1 px-3 rounded-full text-white <%= role_class %>">
              <%= member.role.capitalize %>
            </div>
          <% end %>

          <% if member.profile_image.attached? %>
            <%= image_tag member.profile_image.variant(resize_to_fill: [120, 120]), alt: member.username, class: 'directory-profile-image w-28 h-28 rounded-full object-cover mb-4 mx-auto border-4 border-white shadow-md' %>
          <% else %>
            <%= image_tag 'default_profile.png', alt: member.username, class: 'directory-profile-image w-28 h-28 rounded-full object-cover mb-4 mx-auto border-4 border-white shadow-md' %>
          <% end %>

          <div class="member-info">
            <h3 class="text-xl font-semibold text-gray-800"><%= member.name %> <%= member.surname %></h3>
            <p class="text-gray-600 mt-2">@<%= member.username %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
